MyTubeNewClient/src/conf/xml-resources/web-service-references/MyTube/wsdl/localhost_8080/MyTube/MyTube.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mytube.amazonaws.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mytube.amazonaws.org/" name="MyTube">
<types>
<xsd:schema>
<xsd:import namespace="http://mytube.amazonaws.org/" schemaLocation="http://localhost:8080/MyTube/MyTube?xsd=1"/>
</xsd:schema>
</types>
<message name="Download">
<part name="parameters" element="tns:Download"/>
</message>
<message name="DownloadResponse">
<part name="parameters" element="tns:DownloadResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Upload">
<part name="parameters" element="tns:Upload"/>
</message>
<message name="UploadResponse">
<part name="parameters" element="tns:UploadResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="MyTube">
<operation name="Download">
<input wsam:Action="http://mytube.amazonaws.org/MyTube/DownloadRequest" message="tns:Download"/>
<output wsam:Action="http://mytube.amazonaws.org/MyTube/DownloadResponse" message="tns:DownloadResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://mytube.amazonaws.org/MyTube/Download/Fault/IOException"/>
</operation>
<operation name="Upload">
<input wsam:Action="http://mytube.amazonaws.org/MyTube/UploadRequest" message="tns:Upload"/>
<output wsam:Action="http://mytube.amazonaws.org/MyTube/UploadResponse" message="tns:UploadResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://mytube.amazonaws.org/MyTube/Upload/Fault/IOException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://mytube.amazonaws.org/MyTube/helloRequest" message="tns:hello"/>
<output wsam:Action="http://mytube.amazonaws.org/MyTube/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="MyTubePortBinding" type="tns:MyTube">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Download">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="Upload">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyTube">
<port name="MyTubePort" binding="tns:MyTubePortBinding">
<soap:address location="http://localhost:8080/MyTube/MyTube"/>
</port>
</service>
</definitions>